<!doctype html>
<html lang="en">
<%- include('../manager/partials/head.ejs') %>
<!-- Sign in Start -->
<section class="sign-in-page">
    <div class="container p-0" id="sign-in-page-box">
        <div class="bg-white form-container sign-in-container">
            <div class="sign-in-page-data">
                <div class="sign-in-from w-100 m-auto">
                    <div class="sign-in-from">
                        <h4 class="mb-3 text-center">Entrez le code de validation envoyé à l’adresse e-mail</h4>
                        <p class="text-center">email@email.email <a class="ml-2" href="">Changer l'adresse e-mail</a></p>
                        <form class="mt-10"><br>
                            <div class="form-group">
                                <input type="text" class="form-control mb-0" id="exampleInputEmail1" placeholder="Code d'activation">
                            </div>
                            <div class="d-inline-block w-100">
                                <button type="submit" class="btn btn-primary float-right">Envoyer</button>
                            </div>
                        </form>
                        <div class="text-center" style="margin-top: 50px;">
                            <p style="font-size: 10px;">Vous n'avez pas reçu le code ?</p>
                            <p style="font-size: 10px;">Vérifiez dans votre dossier de spam ou <a href="">cliquez ici pour recevoir à nouveau le code de validation.</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sign in END -->

<%- include('../manager/partials/foot.ejs') %>
</body>
</html>
