<section class="section">
    <div class="start-screen__bg-container">
        <div class="start-screen__bg" style="background-image: url(/assets/front/img/bg_1.png);background-position: center bottom;"></div>
    </div>
</section>
<section style="position: relative; top: -170px; margin-top: 15px;">
    <div class="container">
        <div class="row">
            <%- include("partial/sidebar.ejs") %>
            <div class="col-9">
                <div>
                    <h3><span>Bonjour</span>, <%- session.fname %></h3>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        <p class="text-center mt-4">Aucune informations disponible</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>