<div class="container">
    <div class="p-5 mb-4 mt-5 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h3 class="display-5 fw-bold">Welcome, <%- session.username %></h3>
        </div>
    </div>
</div>