<!-- start start screen -->
<div id="start-screen" class="start-screen start-screen--full-height start-screen--style-1">
    <div class="start-screen__bg-container">
        <div class="start-screen__bg" style="background-image: url(/assets/front/img/bg_1.png);background-position: center bottom;"></div>
    </div>
    <div class="start-screen__shapes d-none d-lg-block">
        <img class="img-shape d-none d-xl-block" src="" />
        <img class="img-shape" style="border-bottom-left-radius: 40% !important; width: 600px;" src="/assets/front/img/undraw_server_status_-5-pbv.svg" alt=""/>
    </div>
    <div class="start-screen__content-container">
        <div class="start-screen__content__item align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 col-lg-6 js-tilt">
                        <h2 style="color: #222F3E" class="__title">Bienvenue.<br><span></span></h2>
                        <p style="color: #222F3E;">L'hébergement, nouvelle définition. </p>
                        <div class="spacer py-2 py-sm-4"></div>
                        <div class="d-sm-table">
                            <div class="d-sm-table-cell pb-5 pb-sm-0 pr-sm-8 pr-md-10">
                                <a href="#why-laycloud" class="custom-btn custom-btn--big custom-btn--style-2"><i class="fad fa-chevron-double-right"></i> Decouvrir LayCloud</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row align-items-xl-center" id="why-laycloud">
            <div class="col-12 col-lg-8 col-xl-6">
                <div class="section-heading">
                    <h6 class="__subtitle">Features</h6>

                    <h2 class="__title lc-text-info-color">Pourquoi<br><span>LayCloud ?</span></h2>
                </div>
                <div class="spacer py-4"></div>
                <div>
                    <p><strong>la solution française pour l'hébergement web.</strong></p>
                    <p class="mt-4">Saeviens post utinam saeviens tractibus exitium urebat ex cuncta generalibus temptentur supra Persas exemplis aeternam motus bella exitium obliterasset plus per forte utinam paria agitat agitat anno et ut delictis.</p>

                </div>
            </div>
            <div class="spacer py-6 d-xl-none"></div>
            <div class="col-12 col-xl-6">
                <!-- start feature -->
                <div class="feature feature--s2">
                    <div class="__inner">
                        <div class="row">
                            <!-- start item -->
                            <div class="col-12 col-sm-6">
                                <div class="__item __item--rounded __item--shadow js-tilt" data-tilt-speed="800" data-tilt-max="25" data-tilt-perspective="1000" style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                                    <div class="mb-3">
                                        <i class="__ico" style="font-size: 40px;">
                                            <i class="fad fa-shield-check laycloud-color"></i>
                                        </i>
                                    </div>
                                    <h4 class="__title">Anti-DDOS</h4>
                                    <p>
                                        Une protection anti DDoS performante et réfléchi
                                        au maximum pour ne pas nuire a vos activités.
                                    </p>
                                </div>

                                <div class="__item __item--rounded __item--shadow js-tilt" data-tilt-speed="800" data-tilt-max="25" data-tilt-perspective="1000" style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                                    <div class="mb-3">
                                        <i class="__ico" style="font-size: 40px;">
                                            <i class="fad fa-ticket-alt laycloud-color"></i>
                                        </i>
                                    </div>
                                    <h4 class="__title">Support</h4>
                                    <p>
                                        Un service de support disponible 24h/24
                                        et 7j/7 et a votre service. nos techniciens
                                        sont présent pour vos besoins.
                                    </p>
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-12 col-sm-6">
                                <div class="__item __item--rounded __item--shadow js-tilt" data-tilt-speed="800" data-tilt-max="25" data-tilt-perspective="1000" style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                                    <div class="mb-3">
                                        <i class="__ico" style="font-size: 40px;">
                                            <i class="fad fa-tachometer-alt-fast laycloud-color"></i>
                                        </i>
                                    </div>

                                    <h4 class="__title">Machines puissantes</h4>
                                    <p>
                                        Nous possédons des machines puissante et réactive,
                                        elles sont configurées afin de garantir un confort maximal.
                                    </p>
                                </div>

                                <div class="__item __item--rounded __item--shadow js-tilt" data-tilt-speed="800" data-tilt-max="25" data-tilt-perspective="1000">
                                    <div class="mb-3">
                                        <i class="__ico" style="font-size: 40px;">
                                            <i class="fad fa-cctv laycloud-color"></i>
                                        </i>
                                    </div>
                                    <h4 class="__title">Surveillance</h4>
                                    <p>
                                        Nos techniciens travaillent 24h/24 et 7j/7 sur
                                        toutes nos machines. toutes vos données sont
                                        privées et l'état de votre machine toujours sous
                                        survaillance
                                    </p>
                                </div>
                            </div>
                            <!-- end item -->
                        </div>
                    </div>
                </div>
                <!-- end feature -->

            </div>
        </div>
    </div>
</section>