<!DOCTYPE html>
<html class="no-js" lang="fr">

<head>
    <title>SyperCraft | Semi-RP</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui" />
    <link rel="stylesheet" href="/assets/front/css/critical.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/front/css/style.min.css" type="text/css">
    <script src="https://kit-pro.fontawesome.com/releases/v5.15.1/js/pro.js" data-auto-fetch-svg></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <link rel="icon" type="image/png" href="https://i.imgur.com/w836Bmj.png" />
    <script type="text/javascript" src="/assets/front/js/device.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
<div id="app">
    <!-- start header -->
    <header id="top-bar" class="top-bar top-bar--dark" data-nav-anchor="true" style="padding-left: 180px; padding-right: 180px;">
        <div class="top-bar__inner">
            <div class="container-fluid">
                <div class="row align-items-center no-gutters">
                    <a class="top-bar__logo site-logo" href="/">
                        <img data-aos="flip-up" class="img-fluid js-tilt" src="https://i.imgur.com/w836Bmj.png" width="70" alt="Logo" />
                    </a>
                    <a id="top-bar__navigation-toggler" class="top-bar__navigation-toggler" href="javascript:void(0);">
                        <span></span>
                    </a>
                    <div class="top-bar__collapse text-uppercase text-white" style="text-shadow: 1px 1px 2px black">
                        <nav id="top-bar__navigation" class="top-bar__navigation" role="navigation">
                            <ul>
                                <li><a class="nav-link" href="/">Accueil</a></li>
                                <li><a class="nav-link" href="">Classement</a></li>
                                <li><a style="color: #FFC306" class="nav-link" href="/boutique">Boutique</a></li>
                                <li><a class="nav-link" href="">Vote</a></li>
                                <li><a target="_blank" href="https://discord.gg/rtfP4XHqmb">Discord</a></li>
                            </ul>
                        </nav>
                        <div id="top-bar__action" class="top-bar__action">
                            <div class="d-xl-flex flex-xl-row flex-xl-wrap align-items-xl-center">
                                <div class="top-bar__auth-btns">


                                    <% if (session.userid) { %>
                                        <a href="/mon-compte"><img style="border-radius: 5px; margin-right: 5px" src="https://minotar.net/avatar/<%- session.username%>/30" alt=""> <%- session.username%></a>
                                    <% } else { %>
                                        <a href="/mon-compte">Mon compte</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- end header -->

    <%- include(view) %>

    <!-- start footer -->
    <footer class="footer footer--s5 footer--color-dark">
        <div class="footer__line footer__line--first">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="footer__item">
                            <a class="footer__logo site-logo" href="/">
                                <img data-aos="flip-up" class="img-fluid lazy loaded" src="https://i.imgur.com/w836Bmj.png" data-src="img/site_logo/logo_2.png" width="70" alt="demo" data-was-processed="true">
                            </a>

                            <p class="mt-3">
                                SyperCraft est un serveur Minecraft non affilié à Mojang. Nous proposons un service de qualité accessible gratuitement.
                            </p>
                        </div>

                        <div class="footer__item">
                            <span class="__copy">Copyrights 2021 © <a class="__dev" href="https://laydev.eu" target="_blank">LayDev</a></span>
                        </div>
                    </div>

                    <div class="col col-sm-5 col-md-3 col-lg-2">
                        <div class="footer__item">
                            <h4 class="footer__item__title">Navigation</h4>

                            <nav class="footer__navigation">
                                <ul>
                                    <!-- li class="active" -->
                                    <li><a href="footers.html#">Accueil</a></li>
                                    <li><a href="footers.html#">Classement</a></li>
                                    <li><a href="footers.html#">Boutique</a></li>
                                    <li><a href="footers.html#">Discord</a></li>
                                    <li><a href="footers.html#">Vote</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col col-sm-5 col-md-3 col-lg-2">
                        <div class="footer__item">
                            <h4 class="footer__item__title">Informations</h4>

                            <nav class="footer__navigation">
                                <ul>
                                    <li><a href="footers.html#">Mentions légales</a></li>
                                    <li><a href="footers.html#">CGU/CGV</a></li>
                                    <li><a href="footers.html#">Staff</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="footer__item">
                            <h4 class="footer__item__title">Contact info</h4>

                            <address class="footer__address footer__address--s3">
                                <p>
                                    <strong>Email:</strong> <a href="mailto:techlab@mail.com">contact@sypercraft.fr</a>
                                </p>
                            </address>
                        </div>

                        <div class="footer__item">
                            <!-- start social buttons -->
                            <div class="s-btns s-btns--md s-btns--dark s-btns--rounded">
                                <ul class="d-flex flex-row flex-wrap align-items-center">
                                    <li><a style="background: #B40000; opacity: .7; padding-top: 3px" class="i" href=""><i class="fab fa-twitter"></i></a></li>
                                    <li><a style="background: #B40000; opacity: .7; padding-top: 2px" class="i" href=""><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <!-- end social buttons -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__waves-container">
            <svg class="footer__wave js-wave" data-wave="{&quot;height&quot;: 40, &quot;bones&quot;: 5, &quot;amplitude&quot;: 70, &quot;color&quot;: &quot;rgba(215, 219, 224, 0.2)&quot;, &quot;speed&quot;: 0.3}" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs></defs><path class="wave-1" d="M 0 79.511 C 152.502 96.613 152.502 96.613 305.102 88.064 C 457.702 79.511 457.702 79.511 610.302 79.859 C 762.902 80.208 762.902 80.208 915.5 65.355 C 1068.098 50.509 1068.098 50.509 1220.698 63.057 C 1373.298 75.603 1373.298 75.603 1525.898 72.12 L 1525.898 3518.5 L 0 3518.5 Z" fill="rgba(215, 219, 224, 0.2)"></path></svg>

            <svg class="footer__wave js-wave" data-wave="{&quot;height&quot;: 60, &quot;bones&quot;: 4, &quot;amplitude&quot;: 90, &quot;color&quot;: &quot;rgba(215, 219, 224, 0.2)&quot;, &quot;speed&quot;: 0.35}" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs></defs><path class="wave-2" d="M 0 101.62 C 190.611 128.186 190.611 128.186 381.357 114.903 C 572.106 101.62 572.106 101.62 762.854 111.566 C 953.601 121.515 953.601 121.515 1144.351 97.152 C 1335.101 72.779 1335.101 72.779 1525.847 111.566 L 1525.847 3518.5 L 0 3518.5 Z" fill="rgba(215, 219, 224, 0.2)"></path></svg>
        </div>
    </footer>
    <!-- end footer -->
</div>

<div id="btn-to-top-wrap">
    <a id="btn-to-top" class="circled" href="javascript:void(0);" data-visible-offset="800"><i class="fad fa-chevron-up"></i></a>
</div>
<!--
                __
     .,-;-;-,. /'_\
   _/_/_/_|_\_\) /
 '-<_><_><_><_>=/\
   `/_/====/_/-'\_\
    ""     ""    ""
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-2.2.4.min.js"><\/script>')</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/front/js/main.min.js"></script>
<script src="/node_modules/@yaireo/console-colors/index.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>