<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title text-uppercase">Assistance clientèle</h3>
            <div class="nk-block-des text-soft">
                <p></p>
            </div>
        </div><!-- .nk-block-head-content -->
    </div><!-- .nk-block-between -->
</div><!-- .nk-block-head -->
<div class="nk-block">
    <div class="row g-gs">
        <div class="col-md-3">
            <div class="card card-bordered card-full">
                <div class="card-inner">
                    <div class="card-title-group align-start mb-0">
                        <div class="card-title">
                            <h6 class="subtitle text-uppercase">ticket total</h6>
                        </div>
                    </div>
                    <div class="card-amount">
                        <span class="amount">NaN</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-bordered card-full">
                <div class="card-inner">
                    <div class="card-title-group align-start mb-0">
                        <div class="card-title">
                            <h6 class="subtitle text-uppercase">ticket ouvert</h6>
                        </div>
                    </div>
                    <div class="card-amount">
                        <span class="amount">NaN</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-bordered card-full">
                <div class="card-inner">
                    <div class="card-title-group align-start mb-0">
                        <div class="card-title">
                            <h6 class="subtitle text-uppercase">ticket non traité</h6>
                        </div>
                    </div>
                    <div class="card-amount">
                        <span class="amount">NaN</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-bordered card-full">
                <div class="card-inner">
                    <div class="card-title-group align-start mb-0">
                        <div class="card-title">
                            <h6 class="subtitle text-uppercase">ticket fermé</h6>
                        </div>
                    </div>
                    <div class="card-amount">
                        <span class="amount">NaN</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-gs">
        <div class="col-lg-8">
            <div class="card card-bordered h-100">
                <div class="card-inner border-bottom">
                    <div class="card-title-group">
                        <div class="card-title">
                            <h6 class="title">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Demandes d'assistance</font>
                                </font>
                            </h6>
                        </div>
                        <div class="card-tools">
                            <a href="#" class="link">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Tous les billets</font>
                                </font>
                            </a>
                        </div>
                    </div>
                </div>
                <ul class="nk-support">
                    <li class="nk-support-item">
                        <div class="user-avatar"><img src="/demo5/images/avatar/a-sm.jpg" alt=""></div>
                        <div class="nk-support-content">
                            <div class="title"><span>Vincent Lopez</span><span class="badge badge-dot badge-dot-xs badge-warning ml-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">En attente</font></font></span></div>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Merci de nous avoir contacté avec votre...</font>
                                </font>
                            </p><span class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">il y a 6 minutes</font></font></span></div>
                    </li>
                    <li class="nk-support-item">
                        <div class="user-avatar bg-purple"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">DM</font></font></span></div>
                        <div class="nk-support-content">
                            <div class="title"><span>Daniel Moore</span><span class="badge badge-dot badge-dot-xs badge-info ml-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ouvert</font></font></span></div>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Nous avons résolu vos problèmes, s'il vous plaît...</font>
                                </font>
                            </p><span class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">il y a 2 heures</font></font></span></div>
                    </li>
                    <li class="nk-support-item">
                        <div class="user-avatar"><img src="/demo5/images/avatar/b-sm.jpg" alt=""></div>
                        <div class="nk-support-content">
                            <div class="title"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Larry Henri</font></font></span><span class="badge badge-dot badge-dot-xs badge-success ml-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Résolu</font></font></span></div>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Merci de m'informer...</font>
                                </font>
                            </p><span class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">il y a 3 heures</font></font></span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>