<div class="nk-block nk-block-lg">
    <div class="card card-preview">
        <div class="card-inner">
            <table class="datatable-init nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                <thead>
                <tr class="nk-tb-item nk-tb-head">
                    <th class="nk-tb-col"><span class="sub-text">Title</span></th>
                    <th class="nk-tb-col tb-col-mb"><span class="sub-text">Client</span></th>
                    <th class="nk-tb-col tb-col-md"><span class="sub-text">Status</span></th>
                    <th class="nk-tb-col nk-tb-col-tools text-right"></th>
                </tr>
                </thead>
                <tbody>

                <tr class="nk-tb-item">
                    <td class="nk-tb-col tb-col-md">
                        <span>{{$tickets->title}}</span>
                    </td>
                    <td class="nk-tb-col tb-col-md">
                        <span>{{$tickets->client_email}}</span>
                    </td>
                    <td class="nk-tb-col tb-col-md">
                        @if($tickets->status == 1)
                        <span class="badge badge-dim badge-outline-warning">Pending</span>
                        @endif
                        @if($tickets->status == 2)
                        <span class="badge badge-dim badge-outline-success">In progress</span>
                        @endif
                        @if($tickets->status == 3)
                        <span class="badge badge-dim badge-outline-danger">Closed</span>
                        @endif
                    </td>
                    <td class="nk-tb-col nk-tb-col-tools">
                        <a href="/admin/support/s/1">
                            <i class="fas fa-eye fa-fw icon_lc_color"></i>
                        </a>
                    </td>
                </tr><!-- .nk-tb-item  -->

                </tbody>
            </table>
        </div>
    </div><!-- .card-preview -->
</div>

<style>
    .display_none {
        display: none;
    }

    label {
        width: 100%;
    }

    .dataTables_info {
        display: none;
    }

</style>