<div class="simplebar-content" style="padding: 0px;">
    <div class="nk-ibx-reply-head">
        <div>
            <h4 class="title">{{$ticket->title}}</h4>
            <ul class="nk-ibx-tags g-1">
                <li class="btn-group is-tags">
                    <a class="btn btn-xs btn-primary btn-dim" href="#">null</a>
                    <a class="btn btn-xs btn-icon btn-primary btn-dim" href="#">
                        <em class="icon ni ni-cross"></em>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="nk-ibx-reply-group">
        <%- include("ticket_message_box") %>
    </div>
    <div class="nk-ibx-reply-form nk-reply-form">

        <div class="nk-reply-form-editor">
            <div class="nk-reply-form-field"><textarea class="form-control form-control-simple no-resize" placeholder="Enter message"></textarea></div>
        </div>
        <div class="nk-reply-form-tools">
            <ul class="nk-reply-form-actions g-1">
                <li class="mr-2"><button class="btn btn-primary" type="submit">Send</button></li>
                <li>
                    <div class="dropdown"><a class="btn btn-icon btn-sm btn-tooltip" data-toggle="dropdown" title="" href="#" data-original-title="Templates"><em class="icon ni ni-hash"></em></a>
                        <div class="dropdown-menu">
                            <ul class="link-list-opt no-bdr link-list-template">
                                <li class="opt-head"><span>Quick Insert</span></li>
                                <li><a href="#"><span>Thank you message</span></a></li>
                                <li><a href="#"><span>Your issues solved</span></a></li>
                                <li><a href="#"><span>Thank you message</span></a></li>
                                <li class="divider"></li>
                                <li><a href="#"><em class="icon ni ni-file-plus"></em><span>Save as Template</span></a></li>
                                <li><a href="#"><em class="icon ni ni-notes-alt"></em><span>Manage Template</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a class="btn btn-icon btn-sm" data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="Upload Attachment"><em class="icon ni ni-clip-v"></em></a></li>
                <li><a class="btn btn-icon btn-sm" data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="Upload Images"><em class="icon ni ni-img"></em></a></li>
            </ul>
        </div>
    </div>
</div>