<div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">
        <div id="content" class="page-content site-content single-post" role="main">
            <!-- Home Page Top Part -->
            <div class="row">
                <div class=" col-xs-12 col-sm-12">
                    <div class="home-content">
                        <div class="row flex-v-align">

                            <div class="col-sm-12 col-md-5 col-lg-5">
                                <div class="home-photo">
                                    <div class="hp-inner" style="background-image: url(assets/front/img/main_photo.jpg);">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-7 col-lg-7">
                                <div class="home-text hp-left">
                                    <div class="owl-carousel text-rotation">
                                        <div class="item">
                                            <h4>Backend-developer</h4>
                                        </div>

                                        <div class="item">
                                            <h4>Web Designer</h4>
                                        </div>
                                    </div>

                                    <h1>Tom Michelon</h1>
                                    <p>Fusce tempor magna mi, non egestas velit ultricies nec. Aenean convallis, risus non condimentum gravida, odio mauris ullamcorper felis, ut venenatis purus ex eu mi. Quisque imperdiet lacinia urna, a placerat sapien pretium eu.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Home Page Top Part -->

            <!-- Services -->
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="p-50"></div>

                    <div class="block-title">
                        <h2>What I Do</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <% dataService.forEach(function (data) { %>
                    <div class="col-xs-12 col-sm-6">
                        <div class="info-list-w-icon">
                            <div class="info-block-w-icon">
                                <div class="ci-icon">
                                    <i class="linecons "></i>
                                    <i class="fad <%= data.icon %> fa-fw icon_lc_color" style="font-size: 32px"></i>
                                </div>

                                <div class="ci-text">
                                    <h4><%= data.title %></h4>
                                    <p><%= data.content %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
            <!-- /Services -->
            <!-- Fun Facts -->
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="block-title">
                        <h2>Fun Facts</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-3 ">
                    <div class="lm-info-block gray-default">
                        <i class="fad fa-coffee-togo fa-fw icon_lc_color" style="font-size: 32px"></i>
                        <h4>Coffee Consumed</h4>
                        <span class="lm-info-block-value">∞</span>
                        <span class="lm-info-block-text"></span>
                    </div>
                </div>
            </div>
            <!-- /Fun Facts -->

        </div>
    </div>
</div>