<!-- start start screen -->
<div id="start-screen" class="start-screen start-screen--full-height start-screen--style-1">
    <div class="start-screen__bg-container">
        <div class="start-screen__bg" style="background-image: url(/assets/front/img/start-screen_img/start-screen_1/bg_1.png);background-position: center bottom;"></div>
    </div>

    <div class="start-screen__shapes  d-none d-lg-block">
        <img class="img-shape d-none d-xl-block" src="/assets/front/img/start-screen_img/start-screen_1/shape_1.png" alt="demo" />

        <img class="img-shape" style="border-bottom-left-radius: 40% !important;" src="https://images.squarespace-cdn.com/content/v1/520eab84e4b02d5660581bbb/1560887388255-N9O7Z3BPY92VD6ZY765K/matt-anderson-canopy-discord-overworld-murals-final-fantasy-castle.png?format=1000w" alt="demo" />
    </div>

    <div class="start-screen__content-container">
        <div class="start-screen__content__item align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 col-lg-6">
                        <h2><span>Continentur quoddam pertinent hoc facultas.</span></h2>

                        <p>Locata Constantina ut quae quoque ad aliqua quoque tuto propositum palatium salute aliqua ut aliqua.</p>

                        <div class="spacer py-2 py-sm-4"></div>

                        <div class="d-sm-table">
                            <div class="d-sm-table-cell pb-5 pb-sm-0 pr-sm-8 pr-md-10">
                                <a target="_blank" href="https://discord.com/oauth2/authorize?client_id=789489532399124491&scope=bot&permissions=2147483647" class="custom-btn custom-btn--big custom-btn--style-1">Ajouter a Discord</a>
                            </div>

                            <div class="d-sm-table-cell">
                                <a class="play-btn" href="https://youtu.be/uQ4HDtHLHFM" data-fancybox="start-screen-video"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start main -->
<main role="main" class="mb-5">
    <!-- start section -->

    <div class="gap-lg"></div>
</main>
<!-- end main -->