<!-- start start screen -->
<div id="start-screen" class="start-screen start-screen--full-height start-screen--style-1">
    <div class="start-screen__bg-container">
        <div class="start-screen__bg" style="background-image: url(/assets/front/img/start-screen_img/start-screen_1/bg_1.png);background-position: center bottom;"></div>
    </div>
    <div class="start-screen__shapes  d-none d-lg-block">
        <img class="img-shape d-none d-xl-block" src="/assets/front/img/start-screen_img/start-screen_1/shape_1.png" />
        <img class="img-shape" style="border-bottom-left-radius: 40% !important;" src="" />
    </div>
    <div class="start-screen__content-container">
        <div class="start-screen__content__item align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 col-lg-6">
                        <h2><span>Continentur quoddam pertinent hoc facultas.</span></h2>
                        <p>Locata Constantina ut quae quoque ad aliqua quoque tuto propositum palatium salute aliqua ut aliqua.</p>
                        <div class="spacer py-2 py-sm-4"></div>
                        <div class="d-sm-table">
                            <div class="d-sm-table-cell pb-5 pb-sm-0 pr-sm-8 pr-md-10">
                                <a target="_blank" href="https://discord.com/oauth2/authorize?client_id=789489532399124491&scope=bot&permissions=2147483647" class="custom-btn custom-btn--small custom-btn--style-5">Ajouter a Discord</a>
                            </div>
                            <div class="d-sm-table-cell">
                                <a class="play-btn" href="https://youtu.be/uQ4HDtHLHFM" data-fancybox="start-screen-video"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start main -->
<main role="main" class="mb-5">
    <section id="about" class="section section--no-pb">
        <div class="container">

            <div data-aos="flip-left" class="row flex-md-row-reverse justify-content-sm-center align-items-md-center">
                <div class="col-12 col-md-6 text-center text-md-left">
                    <figure class="image-container js-tilt" data-tilt-speed="600" data-tilt-max="15" data-tilt-perspective="700">
                        <img class="img-fluid" width="500" height="424" src="https://via.placeholder.com/600x350" />
                    </figure>
                </div>
                <div class="col-12 col-md-6">
                    <div class="section-heading">
                        <h2 class="__title">Aliquotiens superati inter per inmanium.</h2>
                    </div>
                    <div class="spacer py-4"></div>
                    <div>
                        <p>
                            <strong style="color: #555">Quare talis improborum consensio non modo excusatione amicitiae tegenda non est sed potius supplicio omni vindicanda est, ut ne quis concessum putet amicum vel bellum patriae inferentem sequi; quod quidem, ut res ire coepit, haud scio an aliquando futurum sit. Mihi autem non minori curae est, qualis res publica post mortem meam futura, quam qualis hodie sit.</strong>
                        </p>
                    </div>
                </div>
            </div>

            <br><br><br><br><br><br>

            <div data-aos="flip-right" class="row flex-md-row-reverse justify-content-sm-center align-items-md-center">
                <div class="col-12 col-md-6">
                    <div class="section-heading">
                        <h2 class="__title">Idem non appellant vexatus discrimen.</h2>
                    </div>
                    <div class="spacer py-4"></div>
                    <div>
                        <p>
                            <strong style="color: #555">Quibus ita sceleste patratis Paulus cruore perfusus reversusque ad principis castra multos coopertos paene catenis adduxit in squalorem deiectos atque maestitiam, quorum adventu intendebantur eculei uncosque parabat carnifex et tormenta. et ex is proscripti sunt plures actique in exilium alii, non nullos gladii consumpsere poenales. nec enim quisquam facile meminit sub Constantio, ubi susurro tenus haec movebantur, quemquam absolutum.</strong>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 text-center text-md-left">
                    <figure class="image-container js-tilt" data-tilt-speed="600" data-tilt-max="15" data-tilt-perspective="700">
                        <img class="img-fluid" width="500" height="424" src="https://via.placeholder.com/600x350" />
                    </figure>
                </div>
            </div>


        </div>
    </section>

</main>
<!-- end main -->