<!doctype html>
<html lang="en">
<%- include('../front/partials/head.ejs') %>
<!-- Sign in Start -->
<section class="sign-in-page">
    <div class="container p-0" id="sign-in-page-box">
        <div class="bg-white form-container sign-up-container">
            <div class="sign-in-page-data">
                <div class="sign-in-from w-100 m-auto">
                    <h1 class="mb-3 text-center">Sign Up</h1>
                    <form class="mt-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Your Full Name</label>
                            <input type="email" class="form-control mb-0" id="exampleInputEmail1" placeholder="Your Full Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">Email address</label>
                            <input type="email" class="form-control mb-0" id="exampleInputEmail2" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control mb-0" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="d-inline-block w-100">
                            <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">I accept <a href="#">Terms and Conditions</a></label>
                            </div>
                        </div>
                        <div class="sign-info">
                            <button type="submit" class="btn btn-primary mb-2">Sign Up</button>
                            <span class="text-dark d-block line-height-2">Already Have Account ? <a href="#">Log In</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bg-white form-container sign-in-container">
            <div class="sign-in-page-data">
                <div class="sign-in-from w-100 m-auto">
                    <h1 class="mb-3 text-center">S'identifier</h1>
                    <form action="/app" class="mt-4">
                        <div class="form-group">
                            <label for="exampleInputEmail2">Adress email</label>
                            <input type="email" class="form-control mb-0" id="exampleInputEmail2" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword2">Mot de passe</label>
                            <input type="password" class="form-control mb-0" id="exampleInputPassword2" placeholder="">
                        </div>
                        <div class="d-inline-block w-100">
                            <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck1">Se souvenir de moi</label>
                            </div>
                        </div>
                        <div class="sign-info">
                            <button type="submit" class="btn btn-primary mb-2">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <a class="sign-in-logo mb-5" href="#"><img src="images/logo-full.png" class="img-fluid" alt="logo"></a>
                    <button class="btn iq-border-primary mt-2" id="signIn">Connexion</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <a class="sign-in-logo mb-5" href="#"><img src="images/logo-full.png" class="img-fluid" alt="logo"></a>
                    <button class="btn iq-border-primary mt-2" id="signUp">Inscription</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sign in END -->

<%- include('../front/partials/foot.ejs') %>
</body>
</html>
