<div class="page-title">
    <h1>Portfolio</h1>
    <div class="page-subtitle">
        <h4></h4>
    </div>
</div>

<div class="portfolio-grid three-columns shuffle">
    <figure class="item lbimage">
        <div class="portfolio-item-img">
            <img src="https://via.placeholder.com/1200x800?text=Project">
            <a class="lightbox" title="Project" href="https://via.placeholder.com/1200x800?text=Project"></a>
        </div>
        <h4 class="name">Project</h4>
        <span class="category">Project</span>
    </figure>
    <figure class="item lbimage">
        <div class="portfolio-item-img">
            <img src="https://via.placeholder.com/1200x800?text=Project">
            <a class="lightbox" title="Project" href="https://via.placeholder.com/1200x800?text=Project"></a>
        </div>
        <h4 class="name">Project</h4>
        <span class="category">Project</span>
    </figure>
    <figure class="item lbimage">
        <div class="portfolio-item-img">
            <img src="https://via.placeholder.com/1200x800?text=Project">
            <a class="lightbox" title="Project" href="https://via.placeholder.com/1200x800?text=Project"></a>
        </div>
        <h4 class="name">Project</h4>
        <span class="category">Project</span>
    </figure>
</div>