<div id="hero" class="hero" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/MhDGLaZ.jpg); height: 50%; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative;">
    <div class="container">
        <h2 class="hero__title"><span>Boutique</span></h2>
    </div>
</div>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-xl-9">
                <div class="posts posts--s1">
                    <div class="__inner">
                        <div class="row">
                            <% products.forEach(function (product) { %>
                            <div class="col-12 col-sm-6 col-xl-4 d-sm-flex">
                                <div class="__item __item--preview __item--rounded __item--shadow">
                                    <div class="__header">
                                        <figure class="__image __image--rounded">
                                            <img src="<%- product.image %>" data-was-processed="true">
                                        </figure>
                                    </div>
                                    <div class="__body">
                                        <div class="__content">
                                            <div class="post-meta">
                                                <div class="row justify-content-between align-items-center">
                                                    <div class="col-auto">
                                                        <span class="post-meta__item __author"><%- product.name %></span>
                                                    </div>

                                                    <div class="col-auto">
                                                        <time style="color: #FFC306" class="post-meta__item __date-post"><%- product.price %>€</time>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="__footer d-flex justify-content-center pt-3">
                                        <a class="custom-btn custom-btn--small custom-btn--style-1">Acheter</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer py-4 d-md-none"></div>
            <div class="col-12 col-md-4 col-xl-3">
                <aside class="sidebar">
                    <div class="widget widget--categories">
                        <h4 class="widget-title">Catégorie</h4>
                        <ul class="list">
                            <li class="list__item">
                                <a class="list__item__link" href="">Grade<span>/1</span></a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>