<div class="col-lg-3 col-md-3 col-sm-12 pt-3"><!-- style="background: rgba(37, 94, 152, 0.1); border-radius: 10px;" -->
    <div class="client-nav-profile-container mb-5">
        <img src="https://www.gravatar.com/avatar/f040db5cea3e5404595d9020fee3ab1a?s=1024&d=retro&r=g" alt="">
        <h5 class="mt-5">Tom Michelon</h5>
        <span>MT56788-LC</span>
        <center><a class="mt-3" href="/fr/espace-client/portefeuille"><i class="fad fa-money-bill-wave mr-1" style="color: #85BB65"></i> 0.00€</a></center>
    </div>
    <div class="row mt-7">
        <div class="col-6">
            <a href="/fr/espace-client" class="btn btn-square text-sm" style="">
                <span class="btn-square-text-container">
                    <span class="btn-square-icon d-block"><i class="fad fa-home"></i></span>
                    <span class="d-block btn-square-text">Home</span>
                </span>
            </a>
        </div>
        <div class="col-6">
            <a href="/fr/espace-client/mes-services" class="btn btn-square text-sm" style="">
                <span class="btn-square-text-container">
                    <span class="btn-square-icon d-block"><i class="fad fa-server"></i></span>
                    <span class="d-block btn-square-text">Service</span>
                </span>
            </a>
        </div>
        <div class="col-6 mt-3">
            <a href="/fr/espace-client/mon-compte" class="btn btn-square text-sm" style="">
                <span class="btn-square-text-container">
                    <span class="btn-square-icon d-block"><i class="fad fa-user"></i></span>
                    <span class="d-block btn-square-text">Compte</span>
                </span>
            </a>
        </div>
        <div class="col-6 mt-3">
            <a href="/fr/espace-client/portefeuille" class="btn btn-square text-sm" style="">
                <span class="btn-square-text-container">
                    <span class="btn-square-icon d-block"><i class="fad fa-wallet"></i></span>
                    <span class="d-block btn-square-text">Portefeuille</span>
                </span>
            </a>
        </div>
        <div class="col-6 mt-3">
            <a href="#" class="btn btn-square text-sm" style="">
                <span class="btn-square-text-container">
                    <span class="btn-square-icon d-block"><i class="fad fa-ticket-alt"></i></span>
                    <span class="d-block btn-square-text">Support</span>
                </span>
            </a>
        </div>
        <div class="col-6 mt-3">
            <a href="/fr/espace-client/mes-factures" class="btn btn-square text-sm" style="">
                <span class="btn-square-text-container">
                    <span class="btn-square-icon d-block"><i class="fad fa-file-invoice-dollar"></i></span>
                    <span class="d-block btn-square-text">Facture</span>
                </span>
            </a>
        </div>
        <div class="col-6 mt-3">
            <a href="/fr/espace-client/deconnexion" class="btn btn-square text-sm" style="">
                <span class="btn-square-text-container">
                    <span class="btn-square-icon d-block"><i class="fad fa-sign-out-alt"></i></span>
                    <span class="d-block btn-square-text">Deconnexion</span>
                </span>
            </a>
        </div>
    </div>
</div>
