<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LayCloud |  Hebergeur VPS - Serveurs de jeux - Web</title>
    <link rel="icon" type="image/png" href="/assets/front/img/favicon.png" />
    <link rel="stylesheet" href="/assets/dashboard/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/dashboard/css/typography.css">
    <link rel="stylesheet" href="/assets/dashboard/css/style.css">
    <link rel="stylesheet" href="/assets/dashboard/css/responsive.css">
    <script src="https://kit-pro.fontawesome.com/releases/v5.15.1/js/pro.js" data-auto-fetch-svg></script>
</head>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center" class="text-center lc-text-info-color" style="padding-top: 17%">

    </div>
</div>