<div class="iq-sidebar">
    <!--
    <div class="iq-sidebar-logo" style="padding-left: 33%">
        <a href="/fr/espace-client" class="header-logo mb-5">
            <img class="img-fluid rounded-normal" src="/assets/front/img/favicon.png" alt="">
        </a>
    </div>
    -->
    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
                <li>
                    <a style="font-size: 40px;" href="/fr/espace-client" class="iq-waves-effect d-flex justify-content-center">
                        <i class="fad fa-home laycloud-color"></i>
                    </a>
                    <a style="font-size: 40px;" href="/fr/espace-client/mes-services" class="iq-waves-effect d-flex justify-content-center">
                        <i class="fad fa-server laycloud-color"></i>
                    </a>
                    <a style="font-size: 40px;" href="/fr/espace-client/mes-factures" class="iq-waves-effect d-flex justify-content-center">
                        <i class="fad fa-file-invoice-dollar laycloud-color"></i>
                    </a>
                    <a style="font-size: 40px;" href="" class="iq-waves-effect d-flex justify-content-center">
                        <i class="fad fa-user-headset laycloud-color"></i>
                    </a>
                    <a style="font-size: 40px;" href="/fr/espace-client/portefeuille" class="iq-waves-effect d-flex justify-content-center">
                        <i class="fad fa-wallet laycloud-color"></i>
                    </a>
                    <a style="font-size: 40px;" href="/fr/espace-client/mes-domaines" class="iq-waves-effect d-flex justify-content-center">
                        <i class="fad fa-globe laycloud-color"></i>
                    </a>
                </li>

            </ul>
        </nav>

    </div>
</div>