<div class="page-title">
    <h1>Legal mentions</h1>
    <div class="page-subtitle">
        <h4></h4>
    </div>
</div>

<h3>Déclaration</h3>
<p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site www.the-notorious-programmer.gq l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :</p>
<br>
<p><strong>Propriétaire:</strong> Tom Michelon</p>
<p><strong>Responsable publication:</strong> Tom Michelon - tom.m@laycloud.eu</p>
<p>Le responsable publication est une personne physique ou une personne morale.</p>
<br>
<p><strong>SIRET:</strong> 88317731300029</p>
<p><strong>SIREN:</strong> 883177313</p>
<p><strong>Catégorie juridique:</strong> Entrepreneur individuel</p>
<br>
<h3>Hebergement</h3>
<a href="https://www.digitalocean.com/?refcode=b60cfc33cd77&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge">
    <img src="/assets/img/digitalocean.svg" alt="DigitalOcean Referral Badge" />
</a>
<p style="margin-top: 10px">www.the-notorious-programmer.gq est hébergé par la société DigitalOcean.</p>
<p>DigitalOcean ne peut en aucun cas être responsable du contenu du site.</p>
<p>DigitalOcean - Siège social : New York, État de New York, États-Unis</p>
<br>
<h3>Propriété intellectuelle</h3>
<p>www.the-notorious-programmer.gq est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.</p>
<p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : www.the-notorious-programmer.gq</p>