<div class="iq-sidebar">
    <div class="iq-sidebar-logo d-flex justify-content-between">
        <a href="/app" class="header-logo">
            <div class="logo-title font-size-21 font-weight-500">
                <span class="text-primary ml-1 text-uppercase">Itomori</span>
            </div>
        </a>
        <div class="iq-menu-bt-sidebar">
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
                    <div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
                <li>
                    <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse"><span class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span>Dashboard</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="dashboard" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li><a href="#"><i class="las la-house-damage"></i>Server Monitoring</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="iq-waves-effect"><i class="las la-tasks iq-arrow-left"></i><span>Server tasks</span></a>
                </li>
            </ul>
        </nav>
        <div id="sidebar-bottom" class="p-3 position-relative">
            <div class="iq-card bg-primary rounded">
                <div class="iq-card-body">
                    <div class="sidebarbottom-content">
                        <p class="mb-0 text-light">null</p>
                        <button type="submit" class="btn btn-white w-100  mt-4 text-primary viwe-more">submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>