<section class="section">
    <div class="start-screen__bg-container">
        <div class="start-screen__bg" style="background-image: url(/assets/front/img/bg_1.png);background-position: center bottom;"></div>
    </div>

    <div class="container">
        <div class="row align-items-md-center">
            <div class="col-12 col-lg-6 js-tilt">
                <div class="section-heading">
                    <h6 class="__subtitle">Service Cloud</h6>
                    <h2 class="__title">Serveurs VPS<br><span> Linux standard</span></h2>
                </div>
                <div>
                    <ul class="check-list my-md-6">
                        <li class="p-0"><i class="fad fa-check-circle success-color"></i> Livraison en 1 minute</li>
                        <li class="p-0"><i class="fad fa-check-circle success-color"></i> Serveur disponible 24H/24 7J/7</li>
                        <li class="p-0"><i class="fad fa-check-circle success-color"></i> Assistance technique inclus </li>
                    </ul>
                </div>
            </div>

            <div class="spacer py-4 d-lg-none"></div>

            <div class="col-12 col-lg-6  text-center text-lg-right">

                <figure class="image-container js-tilt" data-tilt-speed="600" data-tilt-max="15" data-tilt-perspective="700">
                    <img class="img-fluid lazy error" width="520" height="507" src="https://placeholdit.imgix.net/~text?txtsize=21&amp;txt=Image%20not%20load&amp;w=200&amp;h=200" data-src="img/img_4.png" alt="demo" data-was-processed="true">
                </figure>

            </div>
        </div>
    </div>
</section>

<section class="mt-10">
    <div class="container">

        <div x-data="{ active: 0 }" class="space-y-4">

            <div x-data="{
                    id: 1,
                    get expanded() {
                        return this.active === this.id
                    },
                    set expanded(value) {
                        this.active = value ? this.id : null
                    },
                }" role="region" class="border border-black">
                <div class="product_item row justify-content-center align-middle">
                    <div class="mr-4 text-center" style="padding-top: 9px;"><p class="tag tag-bg"><span>S</span></p></div>
                    <div class="col-1 ml-2 p-0"><p class="h5">CPU<span>0 vCPU </span></p></div>
                    <div class="col-1 p-0"><p class="h5">RAM <span>0 Go</span></p></div>
                    <div class="col-1 p-0"><p class="h5">DISQUE <span style="">0 Go</span></p></div>
                    <div class="col-2 p-0"><p class="h5">CONNEXION <span>IPv6</span></p></div>
                    <div class="col-2 p-0"><p class="h5">BANDE PASSANTE <span>0 Mbps</span></p></div>
                    <div class="col-2 p-0 pr-4"><span style="color: #222F3E;" class="price">0.00 € / mois</span></div>
                    <a id="product1" class="d-none" href="/fr/produits/add/1"></a>
                    <div class="col-2 p-0"><div class="btn" x-on:click="expanded = !expanded" :aria-expanded="expanded">Voir plus</div></div>
                    <div class="col-12 pt-4" x-show="expanded" x-collapse>
                        <div class="btn" @click="document.getElementById('product1').click();">Commander</div>
                    </div>
                </div>
            </div>

            <div x-data="{
                    id: 2,
                    get expanded() {
                        return this.active === this.id
                    },
                    set expanded(value) {
                        this.active = value ? this.id : null
                    },
                }" role="region" class="border border-black">
                <div class="product_item row justify-content-center align-middle">
                    <div class="mr-4 text-center" style="padding-top: 9px;"><p class="tag tag-bg"><span>M</span></p></div>
                    <div class="col-1 ml-2 p-0"><p class="h5">CPU<span>0 vCPU </span></p></div>
                    <div class="col-1 p-0"><p class="h5">RAM <span>0 Go</span></p></div>
                    <div class="col-1 p-0"><p class="h5">DISQUE <span style="">0 Go</span></p></div>
                    <div class="col-2 p-0"><p class="h5">CONNEXION <span>IPv6</span></p></div>
                    <div class="col-2 p-0"><p class="h5">BANDE PASSANTE <span>0 Mbps</span></p></div>
                    <div class="col-2 p-0 pr-4"><span style="color: #222F3E;" class="price">0.00 € / mois</span></div>
                    <a id="product1" class="d-none" href="/fr/produits/add/1"></a>
                    <div class="col-2 p-0"><div class="btn" x-on:click="expanded = !expanded" :aria-expanded="expanded">Voir plus</div></div>
                    <div class="col-12 pt-4" x-show="expanded" x-collapse>
                        <div class="btn" @click="document.getElementById('product1').click();">Commander</div>
                    </div>
                </div>
            </div>

            <div x-data="{
                    id: 3,
                    get expanded() {
                        return this.active === this.id
                    },
                    set expanded(value) {
                        this.active = value ? this.id : null
                    },
                }" role="region" class="border border-black">
                <div class="product_item row justify-content-center align-middle">
                    <div class="mr-4 text-center" style="padding-top: 9px;"><p class="tag tag-bg"><span>L</span></p></div>
                    <div class="col-1 ml-2 p-0"><p class="h5">CPU<span>0 vCPU </span></p></div>
                    <div class="col-1 p-0"><p class="h5">RAM <span>0 Go</span></p></div>
                    <div class="col-1 p-0"><p class="h5">DISQUE <span style="">0 Go</span></p></div>
                    <div class="col-2 p-0"><p class="h5">CONNEXION <span>IPv6</span></p></div>
                    <div class="col-2 p-0"><p class="h5">BANDE PASSANTE <span>0 Mbps</span></p></div>
                    <div class="col-2 p-0 pr-4"><span style="color: #222F3E;" class="price">0.00 € / mois</span></div>
                    <a id="product1" class="d-none" href="/fr/produits/add/1"></a>
                    <div class="col-2 p-0"><div class="btn" x-on:click="expanded = !expanded" :aria-expanded="expanded">Voir plus</div></div>
                    <div class="col-12 pt-4" x-show="expanded" x-collapse>
                        <div class="btn" @click="document.getElementById('product1').click();">Commander</div>
                    </div>
                </div>
            </div>

            <div x-data="{
                    id: 4,
                    get expanded() {
                        return this.active === this.id
                    },
                    set expanded(value) {
                        this.active = value ? this.id : null
                    },
                }" role="region" class="border border-black">
                <div class="product_item row justify-content-center align-middle">
                    <div class="mr-4 text-center" style="padding-top: 9px;"><p class="tag tag-bg"><span>XL</span></p></div>
                    <div class="col-1 ml-2 p-0"><p class="h5">CPU<span>0 vCPU </span></p></div>
                    <div class="col-1 p-0"><p class="h5">RAM <span>0 Go</span></p></div>
                    <div class="col-1 p-0"><p class="h5">DISQUE <span style="">0 Go</span></p></div>
                    <div class="col-2 p-0"><p class="h5">CONNEXION <span>IPv6</span></p></div>
                    <div class="col-2 p-0"><p class="h5">BANDE PASSANTE <span>0 Mbps</span></p></div>
                    <div class="col-2 p-0 pr-4"><span style="color: #222F3E;" class="price">0.00 € / mois</span></div>
                    <a id="product1" class="d-none" href="/fr/produits/add/1"></a>
                    <div class="col-2 p-0"><div class="btn" x-on:click="expanded = !expanded" :aria-expanded="expanded">Voir plus</div></div>
                    <div class="col-12 pt-4" x-show="expanded" x-collapse>
                        <div class="btn" @click="document.getElementById('product1').click();">Commander</div>
                    </div>
                </div>
            </div>

            <div x-data="{
                    id: 5,
                    get expanded() {
                        return this.active === this.id
                    },
                    set expanded(value) {
                        this.active = value ? this.id : null
                    },
                }" role="region" class="border border-black">
                <div class="product_item row justify-content-center align-middle">
                    <div class="mr-4 text-center" style="padding-top: 9px;"><p class="tag tag-bg"><span>XXL</span></p></div>
                    <div class="col-1 ml-2 p-0"><p class="h5">CPU<span>0 vCPU </span></p></div>
                    <div class="col-1 p-0"><p class="h5">RAM <span>0 Go</span></p></div>
                    <div class="col-1 p-0"><p class="h5">DISQUE <span style="">0 Go</span></p></div>
                    <div class="col-2 p-0"><p class="h5">CONNEXION <span>IPv6</span></p></div>
                    <div class="col-2 p-0"><p class="h5">BANDE PASSANTE <span>0 Mbps</span></p></div>
                    <div class="col-2 p-0 pr-4"><span style="color: #222F3E;" class="price">0.00 € / mois</span></div>
                    <a id="product1" class="d-none" href="/fr/produits/add/1"></a>
                    <div class="col-2 p-0"><div class="btn" x-on:click="expanded = !expanded" :aria-expanded="expanded">Voir plus</div></div>
                    <div class="col-12 pt-4" x-show="expanded" x-collapse>
                        <div class="btn" @click="document.getElementById('product1').click();">Commander</div>
                    </div>
                </div>
            </div>
            <!-- End. -->
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="section-heading section-heading--center">
            <h3 class="__title">DISTRIBUTIONS LINUX DISPONIBLE</h3>
            <p>Installez votre VPS en quelques secondes et en 1 clic parmi un large choix de distributions Linux depuis notre panel d'administration VPS.</p>
        </div>

        <div class="spacer py-6"></div>

        <div class="row">
            <div class="col-12">

                <!-- start services -->
                <div class="services services--s1">
                    <div class="__inner">
                        <div class="row">
                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="__item">
                                    <i class="icon-box icon-box--circled" style="background-color: #f2f8fd">
                                        <img src="/assets/front/img/os/icon-centos.svg" alt="" width="40" style="opacity: 0.8">
                                    </i>
                                    <h4 class="__title">CentOS</h4>
                                </div>
                            </div>
                            <!-- end item -->
                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="__item">
                                    <i class="icon-box icon-box--circled" style="background-color: #f2f8fd">
                                        <img src="/assets/front/img/os/icon-debian.svg" alt="" width="40" style="opacity: 0.8">
                                    </i>
                                    <h4 class="__title">Debian</h4>
                                </div>
                            </div>
                            <!-- end item -->
                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="__item">
                                    <i class="icon-box icon-box--circled" style="background-color: #f2f8fd">
                                        <img src="/assets/front/img/os/icon-fedora.svg" alt="" width="40" style="opacity: 0.8">
                                    </i>
                                    <h4 class="__title">Fedora</h4>
                                </div>
                            </div>
                            <!-- end item -->
                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="__item">
                                    <i class="icon-box icon-box--circled" style="background-color: #f2f8fd">
                                        <img src="/assets/front/img/os/icon-freebsd.svg" alt="" width="40" style="opacity: 0.8">
                                    </i>
                                    <h4 class="__title">FreeBSD</h4>
                                </div>
                            </div>
                            <!-- end item -->
                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="__item">
                                    <i class="icon-box icon-box--circled" style="background-color: #f2f8fd">
                                        <img src="/assets/front/img/os/icon-openbsd.svg" alt="" width="40" style="opacity: 0.8">
                                    </i>
                                    <h4 class="__title">OpenBSD</h4>
                                </div>
                            </div>
                            <!-- end item -->
                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="__item">
                                    <i class="icon-box icon-box--circled" style="background-color: #f2f8fd">
                                        <img src="/assets/front/img/os/icon-ubuntu.svg" alt="" width="40" style="opacity: 0.8">
                                    </i>
                                    <h4 class="__title">Ubuntu</h4>
                                </div>
                            </div>
                            <!-- end item -->
                            
                        </div>
                    </div>
                </div>
                <!-- end services -->

            </div>
        </div>
    </div>
</section>

<section class="section section--light-blue-bg mb-10">
    <div class="container">
        <div class="section-heading section-heading--center">
            <h2 class="__title  lc-text-info-color">Fonctionnalités & Caractéristiques</h2>
        </div>

        <div class="spacer py-6"></div>

        <div class="row">
            <div class="col-12">

                <!-- start services -->
                <div class="services services--s2">
                    <div class="__inner">
                        <div class="row justify-content-md-center no-gutters">
                            <div class="col-12 col-md-11 col-xl-10">

                                <div class="row justify-content-lg-center">
                                    <!-- start item -->
                                    <div class="col-12 col-lg-6">
                                        <div class="__item">
                                            <div class="d-sm-table">
                                                <div class="d-sm-table-cell align-middle">
                                                    <i class="__ico icon-box icon-box--circled" style="background-color: #222F3E">

                                                    </i>
                                                </div>
                                                <div class="d-sm-table-cell align-middle">
                                                    <h4 class="__title">Choix du système</h4>
                                                    <p>Nous proposons des distributions Linux (Debian, Ubuntu et CentOS), et d'autres systèmes installables en une clique <!-- ainsi que Windows Server pour le même prix. --></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end item -->
                                    <!-- start item -->
                                    <div class="col-12 col-lg-6">
                                        <div class="__item">
                                            <div class="d-sm-table">
                                                <div class="d-sm-table-cell align-middle">
                                                    <i class="__ico icon-box icon-box--circled" style="background-color: #222F3E">

                                                    </i>
                                                </div>
                                                <div class="d-sm-table-cell align-middle">
                                                    <h4 class="__title">Complète autonomie</h4>
                                                    <p>Administrez votre serveur virtuel sans aucune limitation grâce à l'accès root qui vous est fourni.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end item -->
                                    <!-- start item -->
                                    <div class="col-12 col-lg-6">
                                        <div class="__item">
                                            <div class="d-sm-table">
                                                <div class="d-sm-table-cell align-middle">
                                                    <i class="__ico icon-box icon-box--circled" style="background-color: #222F3E">

                                                    </i>
                                                </div>

                                                <div class="d-sm-table-cell align-middle">
                                                    <h4 class="__title">Évolutivité</h4>
                                                    <p>Augmentez ou diminuez la puissance de votre VPS à tout moment depuis votre Panel Client. Aucun transfert de données ou changement de configuration n'est nécessaire.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end item -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end services -->
            </div>
        </div>
    </div>
</section>