.icon_lc_color {
    --fa-primary-color: #0D7BEF;
    --fa-secondary-color: #81B9F6;
}

.icon_light_color {
    --fa-primary-color: #0D7BEF;
    --fa-secondary-color: #ffffff;
}

.icon_lc_danger {
    --fa-primary-color: #771414;
    --fa-secondary-color: #b75656;
}

.icon_lc_warning {
    --fa-primary-color: #CD9F0C;
    --fa-secondary-color: #fcd562;
}

.icon_lc_success {
    --fa-primary-color: #13920F;
    --fa-secondary-color: #03b300;
}

.nk-menu-badge, .nk-menu-main .nk-menu-sub .nk-menu-badge {
    color: rgb(119, 20, 20, 1);
    background-color: rgb(183, 86, 86, 0.4);
    border-radius: 100%;
}