<!DOCTYPE html>
<html lang="fr" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Tom Michelon">
    <link rel="icon" type="image/x-icon" href="/assets/front/img/favicon.png">
    <title>LayCloud - Administration.</title>
    <link rel="stylesheet" href="/assets/admin/css/dashlite.css?ver=2.4.0">
    <link id="skin-default" rel="stylesheet" href="/assets/admin/css/theme.css?ver=2.4.0">
    <script src="https://kit-pro.fontawesome.com/releases/v5.15.1/js/pro.js" data-auto-fetch-svg></script>
</head>

<body class="nk-body bg-white has-sidebar ">
<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- sidebar @s -->
        <div class="nk-sidebar nk-sidebar-fixed" data-content="sidebarMenu">
            <div class="nk-sidebar-element nk-sidebar-head">
                <div class="nk-sidebar-brand">
                    <a href="/admin" class="logo-link nk-sidebar-logo">
                        <img class="logo-light logo-img" src="/assets/front/img/logo.png" alt="logo" width="120">
                        <img class="logo-dark logo-img" src="/assets/front/img/logo.png" alt="logo-dark" width="120">
                    </a>
                </div>
                <div class="nk-menu-trigger mr-n2">
                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                </div>
            </div><!-- .nk-sidebar-element -->
            <div class="nk-sidebar-element">
                <div class="nk-sidebar-body" data-simplebar>

                    <div class="nk-sidebar-content">
                        <div class="nk-sidebar-menu">
                            <ul class="nk-menu">
                                <li class="nk-menu-item">
                                    <a href="/admin" class="nk-menu-link">
                                        <span class="nk-menu-icon"><i class="fas fa-tachometer-alt-fastest fa-fw icon_lc_color"></i></span>
                                        <span class="nk-menu-text">Tableau de bord</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-heading">
                                    <h6 class="overline-title text-primary-alt">GESTION CLIENTS</h6>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="/admin/client" class="nk-menu-link">
                                        <span class="nk-menu-icon"> <i class="fas fa-users fa-fw icon_lc_color"></i></span>
                                        <span class="nk-menu-text">Rechercher un client</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="/admin/support" class="nk-menu-link">
                                        <span class="nk-menu-icon"> <i class="fas fa-hands-helping fa-fw icon_lc_color"></i></span>
                                        <span class="nk-menu-text">Assistance clientèle</span>
                                        <span class="nk-menu-badge">0</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="/admin/support/research" class="nk-menu-link">
                                        <span class="nk-menu-icon"> <i class="fas fa-telescope fa-fw icon_lc_color"></i></span>
                                        <span class="nk-menu-text">Recherche de ticket</span>
                                    </a>
                                </li><!-- .nk-menu-item -->

                                <li class="nk-menu-heading">
                                    <h6 class="overline-title text-primary-alt">GESTION SERVICE</h6>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="/admin/service" class="nk-menu-link">
                                        <span class="nk-menu-icon"> <i class="fas fa-box fa-fw icon_lc_color"></i></span>
                                        <span class="nk-menu-text">Rechercher un service</span>
                                    </a>
                                </li><!-- .nk-menu-item -->

                                <li class="nk-menu-heading">
                                    <h6 class="overline-title text-primary-alt">GESTION DU SITE</h6>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="/admin/admin" class="nk-menu-link">
                                        <span class="nk-menu-icon"> <i class="fas fa-chess-rook-alt fa-fw icon_lc_color"></i></span>
                                        <span class="nk-menu-text">Administrateurs</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="/admin/documentation/lists" class="nk-menu-link">
                                        <span class="nk-menu-icon"> <i class="fas fa-books fa-fw icon_lc_color"></i></span>
                                        <span class="nk-menu-text">Documentation</span>
                                    </a>
                                </li><!-- .nk-menu-item -->

                                <li class="nk-menu-heading">
                                    <h6 class="overline-title text-primary-alt">GESTION DU TECHNIQUE</h6>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="/admin/task" class="nk-menu-link">
                                        <span class="nk-menu-icon"> <i class="fas fa-tasks fa-fw icon_lc_color"></i></span>
                                        <span class="nk-menu-text">Tache logiciel</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="/admin/works" class="nk-menu-link">
                                        <span class="nk-menu-icon"> <i class="fas fa-server fa-fw icon_lc_color"></i></span>
                                        <span class="nk-menu-text">Travaux</span>
                                    </a>
                                </li><!-- .nk-menu-item -->

                                <li class="nk-menu-heading">
                                    <h6 class="overline-title text-primary-alt">GESTION DU FINANCIER</h6>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="/admin/charts" class="nk-menu-link">
                                        <span class="nk-menu-icon"> <i class="fas fa-solar-system fa-fw icon_lc_color"></i></span>
                                        <span class="nk-menu-text">Comptabilité</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="/admin/charges" class="nk-menu-link">
                                        <span class="nk-menu-icon"> <i class="fas fa-solar-system fa-fw icon_lc_color"></i></span>
                                        <span class="nk-menu-text">Charges</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="/admin/accounting/tva" class="nk-menu-link">
                                        <span class="nk-menu-icon"> <i class="fas fa-percent fa-fw icon_lc_color"></i></span>
                                        <span class="nk-menu-text">TVA</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="/admin/discount-code" class="nk-menu-link">
                                        <span class="nk-menu-icon"> <i class="fas fa-tags fa-fw icon_lc_color"></i></span>
                                        <span class="nk-menu-text">Code promotionel</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="#" class="nk-menu-link">
                                        <span class="nk-menu-icon"> <i class="fas fa-file-invoice-dollar fa-fw icon_lc_color"></i></span>
                                        <span class="nk-menu-text">Facturation</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                            </ul><!-- .nk-menu -->
                        </div><!-- .nk-sidebar-menu -->

                    </div><!-- .nk-sidebar-content -->
                </div><!-- .nk-sidebar-body -->
            </div><!-- .nk-sidebar-element -->
        </div>
        <!-- sidebar @e -->
        <!-- wrap @s -->
        <div class="nk-wrap ">
            <!-- main header @s -->
            <div class="nk-header nk-header-fixed is-light">
                <div class="container-fluid">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger d-xl-none ml-n1">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                        </div>
                        <div class="nk-header-brand d-xl-none">
                            <a href="" class="logo-link nk-sidebar-logo">
                                <img class="logo-light logo-img" src="https://i.imgur.com/7nPUM6b.png" alt="logo" width="120">
                                <img class="logo-dark logo-img" src="https://i.imgur.com/7nPUM6b.png" alt="logo-dark" width="120">
                            </a>
                        </div><!-- .nk-header-brand -->

                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                navbar_client
                            </ul><!-- .nk-quick-nav -->
                        </div><!-- .nk-header-tools -->
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container-fliud -->
            </div>
            <!-- main header @e -->
            <!-- content @s -->
            <div class="nk-content nk-content-fluid">
                <div class="container-xl wide-lg">
                    <div class="nk-content-body">
                        <%- include(view) %>
                    </div>
                </div>
            </div>
            <!-- content @e -->
            <!-- footer @s -->
            <div class="nk-footer">
                <div class="container-fluid">
                    <div class="nk-footer-wrap">
                        <div class="nk-footer-copyright">Copyright 2021 LayCloud.</div>
                        <div class="nk-footer-links">
                            <ul class="nav nav-sm">
                                <li class="nav-item"><a class="nav-link" href="/fr/statut">Statut des services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
</div>
<!-- app-root @e -->
<!-- JavaScript -->
<!--
                __
     .,-;-;-,. /'_\
   _/_/_/_|_\_\) /
 '-<_><_><_><_>=/\
   `/_/====/_/-'\_\
    ""     ""    ""
-->
<script src="/assets/admin/js/bundle.js?ver=2.4.0"></script>
<script src="/assets/admin/js/scripts.js?ver=2.4.0"></script>
</body>

</html>